/*--------------- DIV ------------------*/
DIV {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding:10px;
	border:rgb(22, 13, 22) 3px solid;
	background-color:#F0F;
}
/*--------------- HEADER ------------------*/
HEADER { 
 height:150px;
 background-image: url('../images/fond.jpg'); 
 background-size:90% 90%;
 color:#0000FF;
 font-family: verdana, arial, sans-serif;
}

/*--------------- NAV ------------------*/
NAV UL {
	text-align: right;
	margin:2px 0 2px 0;
	height: 40px;
	line-height: 40px;
	background-color: #CCC
}
NAV UL LI {
	text-align: center;
	display: inline;
	margin-right: 25px;
	margin-left: 25px;
}
/*--------------- SECTION -------------- */
SECTION{
	width:70%;
	float:left;
	padding:5px;
	border:#C0C 1px solid;
	margin: 0 0 0 0;
}

ARTICLE{ 
	text-align:justify;
}
/*---------------ASIDE------------------*/
ASIDE{
	width:26%;
	float: right;
	text-align:justify;
	padding:5px;
}
/*---------------FOOTER------------------*/
FOOTER{ 
      width:98%;
      padding:0 10px;
      height: 40px;
	  text-align:center;
      background-color:#FFFF00;
      
}
/*---------------AUTRES------------------*/
BR {
   clear:both;
   margin-bottom:10px; 
}